{% extends "base.html" %}
{% block content %}



<form method="POST" action="{% url 'create_detail_recipe' %}">
  {% csrf_token %}
  <div class="card shadow-sm" style="width: 80%; margin: auto;">
  <div style="width: 70%">
    <div class="card-body">
      
      <!-- Başlıq -->
      <div class="d-flex align-items-center mb-4">
        <i class="fa-solid fa-prescription-bottle-medical fa-xl me-2 text-primary"></i>
        <h5 class="card-title mb-0">Qeydiyyat Əlavə Et</h5>
      </div>


      <!-- Həkim və Tarix -->
        <div class="row mb-4">
          <!-- Həkim seçimi -->
          <div class="col-md-6">
            <label for="doctor" class="form-label small text-muted">Həkim seçin<span style="color:red">*</span></label>
                <select id="doctor-select" name="doctor" class="form-select">
                    <option disabled {% if not selected_doctor %}selected{% endif %}>Həkim seçin</option>
                    {% for d in doctors %}
                        <option value="{{ d.id }}" {% if selected_doctor and d.id == selected_doctor.id %}selected{% endif %}>
                            {{ d.ad }}
                        </option>
                    {% endfor %}
                </select>


          </div>

          <!-- Tarix -->
          <div class="col-md-3">
            <label for="tarix" class="form-label small text-muted">Tarix<span style="color:red">*</span></label>
            <input type="date" name="date" value="{% now 'Y-m-d' %}" class="form-control" />
          </div>

          <!-- Yekun Say -->
          <div class="col-md-3">
            <label class="form-label small text-muted">Yekun Say<span style="color:red">*</span></label>
            <input type="text" id="total-count" class="form-control text-end" readonly value="0" />
          </div>
        </div>

      <hr>

      <!-- Dərmanlar -->
        <div class="mb-4">
          <label class="form-label">Dərmanlar</label>
          {% for d in drugs %}
            <div class="d-flex mb-3 justify-content-start align-items-center">
              <!-- Dərman adı düymə kimi -->
             <button type="button" class="fs-6 fw-bold me-3"
              style="width: 60%; background-color: #f0f0f0; border-radius: 10px; border: none; padding: 10px; color: #3b3b3bff; text-align: left; display: block;"
              disabled>
              {{ d.med_full_name }}
            </button>


              <!-- Say inputu -->
              <div style="width: 120px;">
                <input type="number" name="quantity_{{ d.id }}" class="form-control" min="0" />
              </div>
            </div>
          {% endfor %}
        </div>


      <hr>

      <!-- Əməliyyat düymələri -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          <button type="submit" class="btn btn-success">
            <i class="fa-solid fa-floppy-disk me-1"></i> Yadda Saxla
          </button>
          <button type="reset" class="btn btn-danger ms-2">
            <i class="fa-solid fa-rotate-right me-1"></i> Sıfırla
          </button>
          
        </div>

        <!-- Yekun Say -->

      </div>
</div>
    </div>
  </div>
</form>

<script>

  document.addEventListener("DOMContentLoaded", function () {
    const inputs = document.querySelectorAll('input[name^="quantity_"]');
    const totalField = document.getElementById("total-count");

    function updateTotal() {
      let total = 0;
      inputs.forEach(input => {
        total += parseInt(input.value) || 0;
      });
      totalField.value = total;
    }

    inputs.forEach(input => {
      input.addEventListener("input", updateTotal);
    });
  });
</script>




{% endblock content %}